/*Selector universal*/
*{
    padding: 0;
    margin: auto;
}

/*Selector de etiqueta*/
body{
text-align: center;
}

h1{
 padding-top: 20px;
}

/*Selector de clase*/
.contenedor{
    margin: auto;
    background-color: lightcyan;
    width: 900px;
    height: 600px;
    border: 5px;
}

.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.nombre input{
    width: 420;
    height: 25px;
    margin-left: 20px;
}

.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.lugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -130px;
    padding-right: 225px;
    margin-bottom: 100px;
}

.lugarNacimiento select{
    width: 155px;
    margin-left: 20px;
    height: 25px;
}